<footer class="footer" id="contact">
  <div class="footer-container">
    <h2>
      Entre em contato comigo hoje e vamos <span class="highlight-indigo">conversar</span> sobre como posso ajudá-lo a alcançar seus <span class="highlight-purple">objetivos</span>.
    </h2>

    <div class="social-links">
      <a href="https://github.com/v-L1ma" target="_blank" aria-label="GitHub">
        <img src="github.png" alt="GH">
      </a>
      <a href="https://wa.me/5513981934062" target="_blank" aria-label="WhatsApp" class="whatsapp">
        <img src="whatsapp.png" alt="WA">
      </a>
      <a href="https://www.linkedin.com/in/vinilimadev" target="_blank" aria-label="LinkedIn">
        <img src="linkedin.png" alt="IN">
      </a>
    </div>

    <p class="copyright">
      © 2026 Vinícius Lima Santos. Todos os direitos reservados.
    </p>
  </div>
</footer>
