nav{
    height: 55px;
    align-content: center;
}

nav a{
    font-size: 1.4em;
}

ul{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap: 70px;   
}

section{
    height: 100vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-bottom:5px solid #F24B59;
}

section h1{
    font-size: 6em;
    padding-top: 250px;
    padding-bottom: 20px;

}

section p{
    font-weight: bolder;
    font-size: 1.5em;
    padding-bottom: 30px;
}

section button{
    border: 2px solid red;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #A4161A, #660708);
    margin-bottom: 50px;
}

.social-medias{
    height: 30px;
    margin-right: 50px;
}

section #teste{
    height: 500px;
    margin: auto;
}

#habilidades{
    display: flex;
    justify-content: space-around;

    padding: 50px;
}

.card{
    display: flex;    
    flex-direction: column;
    border: 3px solid rgba(255, 255, 255, 0.527);
    height: 200px;
    width: 200px;
    justify-content: center;
    padding-top: 20px;
    border-radius: 8px;
}

.card p{
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
}
.card img{
    padding: 0;
    height: 150px;
    width: 150px;
    margin: auto;
}