@use '../../../styles/variables' as vars;

.navbar {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

  &-container {
    backdrop-filter: blur(8px);
    background-color: rgba(12, 17, 26, 0.8);
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    border: 1px solid vars.$gray-800;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.875rem;
    font-weight: 500;

    a {
      transition: color 0.3s;
      color: vars.$gray-300;

      &:hover {
        color: vars.$brand-purple;
      }
    }
  }
}
