<section class="projects" id="projects">
  <div class="projects-container">
    <h2>Alguns do meus <span class="highlight">projetos recentes</span></h2>
    
    <div class="projects-grid">
      @for (project of projects; track project.title ){
        <app-project-card
          title={{project.title}}
          description={{project.description}}
          image={{project.image}}
          githubUrl={{project.githubUrl}}
          liveUrl={{project.liveUrl}}
          [techs]=project.techs
          [techIcons]=project.techIcons
          [isFullWidth]=project.isFullWidth
        ></app-project-card>
      } @empty {
        <p>Nenhum projeto encontrado</p>
      }
    </div>
  </div>
</section>
