<main>
    <header>
      <nav>
        <a href="#sobre">Sobre</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
      </nav>
    </header>
  
    <body>
      <section id="hero">
        <h1>Transformando ideias em <br> <span>experiências digitais intuitivas</span></h1>
        <h2>Olá! Eu me chamo Vinícius Lima e sou um desenvolvedor Full-Stack.</h2>
        <a href="#sobre"><button>Me conheça melhor <span>&#8599;</span></button></a>
      </section>
  
      <section id="sobre">
        <h1>Um pouco sobre <span>quem eu sou</span></h1>
  
        <div id="container">
          <p>
            Atualmente, estou no 4º semestre do curso de Análise e Desenvolvimento de Sistemas na FATEC Rubens Lara. 
            Tenho grande interesse na área de Desenvolvimento Full-stack, onde busco minha primeira oportunidade profissional. Estudo tecnologias no front-end: <u>Angular</u>,<u>React</u> , <u>Typescript</u>, <u>SASS</u>, <u>Tailwind CSS</u>, <u>HTML</u>, <u>CSS</u> e no backend: <u>Spring</u>, <u>Java</u>, <u>Node.js</u>, <u>MongoDB</u> e <u>MySQL</u>. Tenho mais afinidade com o Front-End, porém sou muito interessado pelo backend também!
          </p>
          <div>
            <img src="" alt="" />
            <h2>Vinicius Lima Santos</h2>
            <p>Desenvolvedor Full-stack</p>
          </div>
        </div>
      </section>
  
      <section id="habilidades">
        <p>Tentendo sempre ser melhor,</p>
        <h1>Principais <span>tecnologias</span></h1>
        <div>
          <img src="angularIcon.svg" alt="" />
          <img src="Reacticon.svg" alt="" />
          <img src="typescripticons.svg" alt="" />
          <img src="javascripticons.svg" alt="" />
          <img src="sassicons.svg" alt="" />
          <img src="tailwindicons.svg" alt="" />
          <img src="springicons.svg" alt="" />
          <img src="javaicons.svg" alt="" />
          <img src="nodeicons.svg" alt="" />
          <img src="mongoicons.svg" alt="" />
          <img src="sqlicons.svg" alt="" />
        </div>
      </section>
  
      <section id="projetos">
          <h1>Alguns do meus <span>projetos recentes</span></h1>
          <div>
              <div class="card">
                <div class="imgcontainer">
                  <img src="neobank.jpg
                  " alt="">
                </div>
                  <h1>Neobank</h1>
                  <p>Sistema bancário online completo, desenvolvido para oferecer praticidade e segurança aos usuários. A plataforma permite a realização de transações financeiras, como transferências entre contas, saques e depósitos, de forma rápida e intuitiva.</p>
                  <div>
                      <div>
                        <img src="angularIcon.svg" alt="" />
                        <img src="sassicons.svg" alt="" />
                        <img src="springicons.svg" alt="" />
                        <img src="javaicons.svg" alt="" />
                      </div>
  
                      <div class="links">
                        <a href="https://github.com/v-L1ma" target="_blank"><img src="github.png" alt="" ></a>
                        <p>Veja o site ao vivo &#8599;</p>
                      </div>
                  </div>
              </div>
  
              <div class="card">
                <div class="imgcontainer">
                  <img src="facilitarh.jpg" alt="">
                </div>
                  <h1>Facilita RH</h1>
                  <p>O facilita RH, é um sistema voltado para solucionar problemas no processo de recrutamento e seleção, integrando um portal de vagas para quem busca uma oportunidade com um painel para os recrutadores poderem criar vagas, gerenciar as vagas criadas, ver informações dos candidatos, analisar métricas relacionadas ao recrutamento..</p>
                  <div>
                      <div>
                        <img src="Reacticon.svg" alt="" />
                        <img src="tailwindicons.svg" alt="" />
                        <img src="typescripticons.svg" alt="" />
                        <img src="nodeicons.svg" alt="" />
                      </div>
  
                      <div class="links">
                        <a href="https://github.com/v-L1ma/RH" target="_blank"><img src="github.png" alt="" ></a>
                        <a href="https://facilita-rh.netlify.app">
                            <p>Veja o site ao vivo &#8599;</p>
                        </a>
                      </div>
                  </div>
              </div>
  
              <div class="card">
                <div class="imgcontainer">
                  <img src="adotaaipet.png" alt="">
                </div>
                  <h1>AdotaAi.Pet</h1>
                  <p>O Adota ai é um site criado com a finalidade de facilitar o processo de adoção e de doação de animais, um site onde existem funcionalidades tanto para o adotante quanto para o doador.</p>
                  <div>
                      <div>
                        <img src="Reacticon.svg" alt="" />
                        <img src="cssicons.svg" alt="" />
                        <img src="javascripticons.svg" alt="" />
                        <img src="nodeicons.svg" alt="" />
                      </div>
  
                      <div class="links">
                        <a href="https://github.com/v-L1ma/AdotaAi.pet" target="_blank"><img src="github.png" alt="" ></a>
                        <a href="https://adotaai-pet.netlify.app">
                            <p>Veja o site ao vivo &#8599;</p>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  
      <section id="contato">
        <h1>
          Entre em contato comigo hoje e vamos <span>conversar</span> <br> sobre como posso ajudá-lo a alcançar seus <span>objetivos</span>.
        </h1>
  
        <div>
          <a href="https://github.com/v-L1ma" target="_blank"><img src="github.png" alt="" ></a>
          <a href="https://wa.me/5513981934062" target="_blank"><img src="whatsapp.png" alt="" ></a>
          <a href="https://www.linkedin.com/in/viniciuslimasantos1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><img src="linkedin.png" alt="" ></a>
        </div>
      </section>
    </body>
  </main>
  