@use '../../../styles/variables' as vars;

.project-card {
  background-color: vars.$brand-card;
  border: 1px solid vars.$gray-800;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    border-color: vars.$brand-purple;

    .project-image img {
      transform: scale(1.05);
    }
  }

  .project-image {
    aspect-ratio: 16 / 9;
    background-color: vars.$gray-900;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }

  .project-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: vars.$white;
      }

      .tech-icons {
        display: flex;
        margin-left: -0.5rem;

        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: 1px solid vars.$gray-900;
          background-color: vars.$brand-dark;
          padding: 0.25rem;
          margin-left: -0.5rem;
        }
      }
    }

    p {
      font-size: 0.875rem;
      color: vars.$gray-400;
      line-height: 1.625;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }

    .tech-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding-top: 1rem;

      span {
        font-size: 0.75rem;
        font-weight: 600;
        padding: 0.25rem 0.75rem;
        background-color: vars.$brand-dark;
        border: 1px solid vars.$gray-600;
        border-radius: 9999px;
        color: vars.$gray-300;
      }
    }

    .links {
      margin-top: auto;
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 0.875rem;
        font-weight: 700;
        transition: color 0.3s;

        &.github {
          color: vars.$white;
          display: flex;
          align-items: center;
          gap: 0.25rem;

          &:hover {
            color: vars.$brand-indigo;
          }
        }

        &.live {
          color: vars.$brand-purple;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}